html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push, #footer {
  height: 60px;
}

#footer {
}

#centre{
	width:900px;
  margin:40px auto;
}

.centered{
	width:900px;
	margin:0px auto;
}

#header{

}

#centre img{
	padding:20px 0px;
}

li.older{
  display: none;
}

h1{
	font-family:Georgia, serif;
	font-weight:lighter;
}

h3{
	font-family:Georgia, serif;
	font-weight:lighter;
	font-size:1.3em;
  padding-top: 10px;
  margin: 0px;
}

.dialog{
  font-style: italic;
  font-size: 0.7em;
}

p, ul, ul li, ol, ol li, blockquote{
	font-family:helvetica, arial, sans-serif;
	font-size:1em;
	line-height:1.3em;
}

sup, sub{
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
}

sub { top: 0.4em; }

p.preface{
	font-style:italic;
	font-size:0.9em;
	border:1px solid #efefef;
	background: #ffff99;
	padding:5px;
}

p.footnote{
	font-size:0.8em;

}

blockquote{
	font-size:0.9em;
	font-style: italic;
  width: 500px;
  padding: 0.35em 40px 0.35em 100px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote.statement.quote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -30px;
  top: -30px;
  color: #7a7a7a;
}

blockquote.statement{
	font-size: 1.1em;
	background: #efefef;
	padding:10px;
}

blockquote.statement.quote {
  font-size: 1.1em;
  background: none;
  width: 760px;

}

.posted{
	font-size: 0.9em;
	font-style: italic;
}

.gist{
	font-size: 0.9em;
}

.speakerdeck-iframe {
  width: 710px !important;
  height: 594px !important;
  padding: 20px 0px 20px 80px !important;
}
